@charset "ISO-8859-1";
/*Navbar Start*/
body {
  margin: 0;
  font-family: pacifico, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: orange;
  color: white;
}

.topnav a.active {
	align-content:space-around;
  background-color: #000000;
  color: white;
}

.topnav-right {
  float: right;
}
/*NavBar End*/

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Background image */
.jumbotron {
  text-align: center;
  text-shadow: 2px 2px #000000;
  border-top: 1px solid orange;
}

.lead span {
  color: orange;
  font-weight: bold;
}

.bg-cover {
  /*background-image: url('../assets/logo_background.png');*/
  background-color:black;
  background-size: cover;
  color: orange;
  background-position: center center;
  position: relative;
  z-index: -2;
}

/*Sidebar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orange;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.topnav #navdesign{
	cursor: pointer;
	padding: 8px 8px 8px 32px;
	font-size: 50px;
	color:white;
	/* margin-left: 50px; */
}

.topnav #navdesign:hover{
	color:orange;
	align:left;
}
.topnav #homeicon:hover{
	color: orange;
}

.input-group .form-inline .input-group .form-control {
    width: auto;
    display: table-cell;
    vertical-align: middle;
}
#menu-search {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

fieldset{
	border:0px !important;
    padding: 0.70em .625em .75em !important;
}
.vl1 {
    border-left: 1px solid orange;
    height: 65px;
    position: absolute;
    left: 70px;
    margin-left: 0px;
    top: 0;
}
.vl2 {
    border-left: 1px solid orange;
    height: 65px;
    position: absolute;
    left: 160px;
    margin-left: 0px;
    top: 0;
}
.vl3 {
    border-left: 1px solid orange;
    height: 65px;
    position: absolute;
    left: 840px;
    margin-left: 0px;
    top: 0;
}

.w3-red, .w3-hover-red:hover {
    color: orange !important;
    background-color: black !important;
}