<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- jQuery library -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- BootStarp's Configuration -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header th:insert="fragments/header.html :: header"> </header>
	
	<!-- Start Project Logo -->
	<div class="jumbotron bg-cover">
		<div class="container text-center bg-cover" >
			<h1>Online Book Store</h1>
			<p>Mission, Vission & Values</p>
		</div>
	</div>
	<!-- End Project Logo -->
	
	<!-- Start Project Body -->
	<div class="container">
		<p th:each="entry:${categoryMap}">
			<button class="w3-button w3-block w3-red w3-left-align" th:each="list:${entry.value}" ><span  th:text="${list.name}"></span></button>
		</p>
		<p></p>
	</div>
	<!-- List of Books -->
	<div class="container">
		<div class="row">
			<div class="col-sm-4" th:each="books:${booksList}">
				<div class="panel panel-primary">
					<div class="panel-heading">BLACK FRIDAY DEAL</div>
					<div class="panel-body">
						<img src="https://placehold.it/150x80?text=IMAGE"
							class="img-responsive" style="width: 100%" alt="Image">
					</div>
					<div class="panel-footer"><span th:text="${books.title}"></span></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- booksList>>><span th:text="${booksList}"></span>
	<table id="bookstable">
		<tr >
			<td th:text="${books.title}"></td>
		</tr>
	</table> -->
	<!-- End Project Body -->
	<br>
	<br>
	<footer th:insert="fragments/footer.html :: footer"> </footer>
	<!-- JavaScript Configuration -->
	<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</body>
</html>